<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Title</title>
</head>
  <body>
    <header>
      <div class="topBar">
        <div class="">
          <ul class="barItem">

            <li><a href="/">Home</a></li>
            <li><a href="/all_users">Other Accounts</a></li>
            <li><a href="/createTest">Create</a></li>
            <li><a href="/editTest">Edit</a></li>
            <li><a href="/deleteTest">Delete</a></li>
            <li><a href="/all_tests">Tests</a></li>
          </ul>


      </div>
    </header>

    {% block body %}
    {% endblock %}

