<style>
.body {
    width: 300px;
    margin: 0 auto;
}

.msg {
    color: red;
    margin-bottom: 10px;
}

.textbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.bottom {
    color: #007bff;
    text-decoration: none;
}

.bottom:hover {
    text-decoration: underline;
}

</style>

{% block body %}
<div class="body">
<form action="{{ url_for('signup') }}" method="post">
    <div class="msg">{{ msg }}</div>
    <input id="username" name="username" type="text" placeholder="Enter your username" class="textbox"/></br></br>
    <input id="password" name="password" type="password" placeholder="Enter your password" class="textbox"/></br></br>
    <input id="email" name="email" type="text" placeholder="Enter your email address" class="textbox"/></br></br>

    <!-- Add the dropdown menu for selecting account type -->
    <select name="account_type" class="textbox">
        <option value="teacher">Teacher</option>
        <option value="student">Student</option>
    </select></br></br>

    <input type="submit" class="btn" value="Sign Up"></br>
</form>
<p>Already have an account? <a href="/login"> Sign in here</a></p>
</div>
{% endblock %}
